.film-content-wrapper {
    background-color: #fff;
    max-width: 100%;
    border-radius: 8px;
    display: flex;
    column-gap: 24px;
    padding: 24px;
    position: relative;
}
.poster {
    width: 400px;
    height: 500px;
    border-radius: 8px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.film-content-container {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
}
.film-content-element > span:first-child, .description {
    font-weight: 600;
}