.header {
    width: 100%;
    height: 88px;
    background-color: #333;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 2;
}

.header__title {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    padding: 26px 0 26px 32px;
}

.header__login {
    width: 72px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background: #FF5500;
    border-width: 0;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-right: 32px;
}

.header__login:hover {
    background-color: #e04a00; /* Цвет при наведении */
}
