.year-wrapper {
    position: relative;
}
.year-label {
    margin-bottom: 4px;
    display: block;
}
.custom-select {
    padding: 12px 0 12px 10px;
    border-radius: 8px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    width: 360px;
    appearance: none;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    transition: background 0.3s ease; /* Добавим плавный переход */
    position: relative;
}

.custom-select:focus {
    border-color: #FF5500; /* Цвет рамки при фокусе */
}

.icon {
    background: url('/src/components/filters/assets/icon.svg') no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 55%;
    right: 5%;
}
.icon.open {
    transform: rotate(180deg);
}