.search-form-input-wrapper {
    width: 360px;
    position: relative;
    margin-bottom: 16px;
}
.custom-input {
    background: #fff url('../assets/search.svg') no-repeat 3% center; /* Иконка справа */
    background-size: 16px; /* Размер иконки */
    padding: 12px 36px;
    border-radius: 8px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    width: 360px;
}
.custom-input:focus {
    border-color: #FF5500; /* Цвет рамки при фокусе */
}
.clear-icon {
    background: #fff url('../assets/clear.svg') no-repeat 95% center; /* Иконка справа */
    width: 16px;
    height: 16px;
    position: absolute;
    top: 30%;
    left: 110%;
    cursor: pointer;
}
input {
    appearance: none;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}