body {
  margin: 0;
  box-sizing: border-box;
  background-color: #EDEDED;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit; /* наследует цвет от родительского элемента */
}